* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: "Figtree";
  src: url(/assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format("ttf"),
    url(/assets/fonts/Figtree-VariableFont_wght.ttf) format("ttf");
}
main {
  font-family: "figtree ", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(47, 88%, 63%);
}
.card {
  width: 350px;
  height: 500px;
  border: 1px black solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 1);
  background-color: white;
}
.card figure {
  padding: 15px;
  overflow: hidden;
}
.card figure img {
  width: 100%;
  border-radius: 10px;
}
