* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: "Figtree";
  src: url(/assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format("ttf"),
    url(/assets/fonts/Figtree-VariableFont_wght.ttf) format("ttf");
}
main {
  font-family: "figtree ,sans-serif";
}
